@import "news.css";

.preview {
    background-color: #C2DA6B;
}

.preview__title {
    margin: 0px;
    font-size: 87px;
    line-height: 110px;
    text-transform: uppercase;
    z-index: 2;
}

.img-wrapper {
    position: relative;
    flex-shrink: 0;
    width: 550px;
    height: 550px;
    z-index: 2;
}

.img-wrapper:before {
    content: '';
    position: absolute;
    top: -5px;
    right: -251px;
    width: 494px;
    height: 460px;
    background-color: var(--main-color-white);
}

.img-wrapper:after {
    content: '';
    position: absolute;
    top: -150px;
    right: -251px;
    width: 150px;
    height: 210px;
    background-color: var(--main-color-green);
}

.preview-header {
    position: relative;
    display: flex;
    align-items: center;
}

.preview-header:after {
    content: "";
    position: absolute;
    width: 500px;
    height: 200px;
    top: 0;
    background-image: url("../../img/Group 16.2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: -46px;
    right: 233px;
}

.preview__title_date {
    font-weight: normal;
}

.preview__img {
    position: relative;
}

.preview-footer {
    display: flex;
    align-items: center;
    gap: 40px;
}

.soc-seti__item {
    width: 30px;
    height: 25px;
    display: block;
}

.soc-seti__item_twitter {
    background-image: url("../../img/twitter.svg");
}

.soc-seti__item__instagam {
    width: 25px;
    background-image: url("../../img/inst.svg");
}

.soc-seti__item_facebook {
    width: 13px;
    height: 24px;
    background-image: url("../../img/fc.svg");
}

.soc-seti {
    display: flex;
}

.preview_registration {
    position: relative;
    padding: 50px 150px 50px 0px;
    background-color: var(--main-color-white);
}

.preview_registration:before {
    content: '';
    position: absolute;
    top: 0;
    left: -1000px;
    width: 1001px;
    height: 100%;
    background-color: #FFF;
}

.btn {
    font-family: var(--main-font-family);
    font-weight: normal;
    font-style: var(--main-font-style);
    border-radius: 4px;
    font-size: 16px;
}

.btn_registarion {
    padding: 25px 80px;
    background-color: var(--main-color-black);
    box-shadow: 0px 34px 24px rgba(88, 121, 34, 0.24);
    color: var(--main-color-green);
    font-size: 18px;
    border: none;
    font-weight: var(--main-font-weight);
}

.title-number {
    font-size: 44px;
}

.line {
    display: block;
    height: 2px;
    margin-top: 13px;
}

.line-black {
    width: 95px;
    background-color: var(--main-color-black);
}

.info_font {
    font-size: 34px;
}

.info__date {
    display: flex;
    align-items: center;
    gap: 30px;
}

.preview__soc-seti {
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex: 0 1 200px;
}

.preview__info  {
    display: flex;
    flex-direction: column;
    gap: 23px;
    position: relative;
    top: -14px;
    flex: 1 1 auto;
    margin-left: 200px;
    margin-bottom: 53px;
    font-size: 25px;
}

.info__text {
    display: flex;
    gap: 15px;
    align-items: baseline;
}

