.news {
    position: relative;
    padding: 150px 0 100px;
    border-bottom: 1px solid #F0F0F0;
}

.news__photo {
    z-index: 1;
}

.news__title:before {
    content: "";
    position: absolute;
    width: 600px;
    height: 400px;
    background-color: #F0F0F0;
    top: -150px;
    left: -129px;
    z-index: -1;
}

.title {
    font-size: 56px;
    font-weight: 900;
}

.news__title {
    position: relative;
    z-index: 3;
}

.news__title:after {
    content: "";
    position: absolute;
    width: 215px;
    height: 60px;
    background-color: var(--main-color-green);
    left: 2px;
    top: 15px;
    z-index: -1;
}

.decor1,
.decor2,
.decor3,
.decor4 {
    position: relative;
}

.decor1 {
    z-index: 3;
}

.decor1:after {
    content: "";
    position: absolute;
    width: 500px;
    height: 570px;
    top: -62%;
    right: -9%;
    background-image: url("../../img/Group 19.svg");
}

.decor2:before {
    content: "";
    position: absolute;
    width: 122px;
    height: 149px;
    background-image: url("../../img/Group 9.svg");
    background-repeat: no-repeat;
    left: -90px;
    top: 30%;
    z-index: 1;
}

.decor3:before {
    content: "";
    position: absolute;
    width: 547px;
    height: 351px;
    background-image: url("../../img/Group 13.svg");
    background-repeat: no-repeat;
    top: -78%;
    left: -18%;
    z-index: 0;
}

.decor4:before {
    content: "";
    position: absolute;
    width: 489px;
    height: 700px;
    background-image: url("../../img/Group 21.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 15%;
    left: -19%;
    z-index: 0;
}

.decor4:after {
    content: "";
    position: absolute;
    width: 274px;
    height: 600px;
    background-image: url("../../img/Group 18.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: -59%;
    right: -19%;
    z-index: -1;
}

.news__title_weight {
    font-weight: 400;
}

.news-content {
    display: flex;
    gap: 36px;
}

.rectangle_decor:before {
    content: "";
    position: absolute;
    right: -18%;
    top: -74%;
    width: 466px;
    height: 200px;
    background-color: var(--main-color-green);
}

.news__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: flex-end;
    max-width: 470px;
}

.news-content__title {
    /*font-family: 'Baufra';*/
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
}

.news-content__text {
    max-width: 360px;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    color: var(--main-color-gray);
}

.line-green {
    width: 140px;
    height: 2px;
    background-color: var(--main-color-green);
}

.line-green_angle {
    color: var(--main-color-green);;
    font-weight: 900;
}

.news-content__decor {
    display: flex;
    align-items: center;
    gap: 30px;
}

.news-content__date {
    font-size: 14px;
    line-height: 24px;
    color: var(--main-color-green)
}

.jc-end {
    justify-content: flex-end;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.btn_still {
    max-width: 231px;
    margin: 0 auto;
    padding: 25px 56px;
    background-color: var(--main-color-white);
    border: 1px solid #BBBBBB;
    color: var(--main-color-green);
    font-weight: normal;
    cursor: pointer;
}

.btn_still:hover {
    color: var(--main-color-gray);
    background-color: var(--main-color-green);
}