@import "main/main.css";
@import "header/header.css";
@import "main/news.css";
@import "main/partners.css";
@import "footer/footer.css";

:root {
    --main-font-family: 'Montserrat';
    --main-color-black: #333333;
    --main-color-green: #C2DA6B;
    --main-color-white: #ffffff;
    --main-color-gray: #888888;
    --main-font-style: normal;
    --main-font-weight: 700;
}

body {
    padding: 0;
    margin: 0;
    color: var(--main-color-black);
    font-family: var(--main-font-family);
    font-weight: var(--main-font-weight);
    font-style: var(--main-font-style);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.soc-seti-mobile {
    display: none;
}

.isShow {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    right: 0;
    transition: all .5s ease-out;
    transform: translateY(-100vh);
    height: 500vh;
}

@media (max-width: 1400px) {
    .container {
        max-width: 1100px;
    }

    .img-wrapper:after {
        display: none;
    }

    .news__title:before {
        left: -160px;
    }

    .header-wrapper {
        gap: 60px;
    }

    .menu-wrapper {
        gap: 0px;
    }

    .rectangle_decor:before {
        display: none;
    }

    .preview__title {
        margin-top: 50px;
        font-size: 67px;
        line-height: 90px;
        flex: 0 0 576px;
    }

    .img-wrapper:before {
        display: none;
    }

    .preview-header {
        align-items: flex-start;
    }

    .preview-footer {
        position: relative;
    }

    .preview__info {
        position: absolute;
        margin: 0;
        left: 0;
        top: -163px;
    }

    .info_font {
        text-align: start;
    }

    .preview_registration {
        flex: 0 0 auto;
    }

    .preview-header:after {
        right: 0;
        width: 600px;
    }

    .preview__img {
        right: -100px;
    }

    .decor2:before {
        display: none;
    }

    .decor3:before {
        left: -36%;
    }

    .decor4:before {
        top: 30%;
        left: -18%;
    }

    .decor4:after {
        right: -8%;
    }

    .decor1:after {
        right: -15%;
    }

}

@media (max-width: 1280px) {
    .container {
        max-width: 992px;
    }

    .carousel__item {
        flex: 1 0 250px;
    }

    .preview-header:after {
        right: -10%;
        width: 500px;
    }

    .menu-wrapper {
        justify-content: flex-end;
    }

    .decor4:before {
        top: 50%;
        left: -26%;
    }

    .decor4:after {
        right: -115px;
    }

    .logos__img_mg-left {
        margin: 0;
    }

    .preview__img {
        right: -52px;
    }

    .decor1:after {
        right: -27%;
    }

    .footer-wrapper {
        flex-wrap: wrap;
    }

    .footer__menu {
        order: 3;
        flex: 1 1 auto;
        max-width: 100%;
        gap: 20px;
        justify-content: space-between;
    }

    .menu__item_footer {
        flex: 1 1 150px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 780px;
    }

    .preview__img {
        right: 120px;
        top: 120px;
    }

    .header__menu {
        display: none;
    }

    .btn-burger-wrapper,
    .btn__burger-menu {
        display: block;
    }

    .preview {
        padding-bottom: 60px;
    }

    .decor1:after {
        display: none;
    }

    .preview-footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 100px;
    }

    .btn_registarion {
        padding: 25px 95px;
    }

    .preview_registration {
        background-color: var(--main-color-green);
        padding: 0;
    }

    .preview_registration:before {
        display: none;
    }

    .news__title:before {
        display: none;
    }

    .preview__soc-seti {
        display: none;
    }

    .soc-seti-mobile {
        display: flex;
        gap: 35px;
        padding-top: 45px;
    }

    .soc-seti__item_twitter {
        background-image: url("../img/tw-gray.svg");
    }

    .soc-seti__item__instagam {
        background-image: url("../img/insta-gray.svg");
    }

    .soc-seti__item_facebook {
        background-image: url("../img/fc-gray.svg");
    }

    .news {
        padding-top: 80px;
    }

    .decor4:before,
    .decor4:after,
    .decor3:before {
        display: none;
    }

    .jc-end {
        justify-content: flex-start;
    }

    .menu-lng_mob {
        flex: 1 1 auto;
        width: 100%;
        justify-content: center;
        background-color: rgb(187, 187, 187, 0.5);
        padding: 20px 0;
    }

}

@media (max-width: 768px) {
    .container {
        max-width: 685px;
    }

    .news__photo {
        max-width: 330px;
    }

    .preview__img {
        right: 45%;
        top: 26%;
    }

    .title-number {
        font-size: 34px;
    }

    .line-black {
        width: 29px;
    }

    .info__date {
        gap: 21px;
    }

    .content {
        gap: 40px;
    }

    .news-content__text {
        height: 85px;
        white-space: normal;
        overflow: hidden;
        padding: 5px;
        text-overflow: ellipsis;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .news-content__title {
        font-size: 30px;
        line-height: 35px;
    }

    .btn_still {
        margin-top: 50px;
    }
}

@media (max-width: 677px) {
    .container {
        max-width: 469px;
    }

    .carousel__item {
        flex: 1 0 167px;
    }

    .carrousel-wrapper {
        overflow: scroll;
    }

    .news-content {
        flex-direction: column;
    }

    .line-green {
        display: none;
    }

    .news__title {
        font-size: 50px;
    }

    .soc-seti-mobile {
        justify-content: center;
    }

    .news__photo {
        min-width: 100%;
    }

    .news-content__text {
        min-width: 100%;
    }

    .news-content__title {
        font-size: 34px;
        line-height: 45px;
    }

    .footer-wrapper {
        gap: 100px;
    }

    .footer-item {
        flex: 1 1 auto;
        gap: 20px;
    }

    .logos {
        flex: 1 1 auto;
    }

    .footer-color-text {
        flex: 1 1 auto;
        width: auto;
        text-align: center;
    }

    .contacts {
        order: 3;
        flex: 1 1 auto;
    }

    .contacts__phone,
    .contacts__mail,
    .location {
        text-align: center;
    }

    .location {
        width: auto;
    }

    .btn__burger-menu:before {
        top: 55px;
    }

    .btn__burger-menu:after {
        top: 81px;
    }

    .preview__title {
        font-size: 56px;
        line-height: 70px;
        text-align: center;
    }

    .preview-header:after {
        display: none;
    }

    .menu-wrapper,
    .img-wrapper {
        display: none;
    }

    .preview-footer {
        flex-direction: column-reverse;
        margin-top: 30px;
        align-items: center;
        gap: 50px;
    }

    .preview-header {
        display: block;
    }
    
    .preview__info {
        position: initial;
    }

    .news__title {
        margin-bottom: 80px;
    }

    .soc-seti__item_facebook {
        width: 22px;
        height: 40px;
        background-size: contain;
    }

    .soc-seti__item__instagam {
        width: 40px;
        height: 40px;
        background-size: contain;
    }

    .soc-seti__item_twitter {
        width: 50px;
        height: 40px;
        background-size: contain;
    }

    .partners__title {
        width: 100%;
        text-align: center;
    }

    .partners__header:before {
        left: 78px;
    }

    .switcher {
        display: none;
    }
}

@media (max-width: 560px) {
    .mini-logo {
        display: none;
    }

    .carousel__item {
        width: 166px;
        flex: 1 1 166px;
    }

    .logos__img_main {
        width: 75%;
    }

    .btn__burger-menu:before {
        top: 58px;
    }

    .btn__burger-menu:after {
        top: 85px;
    }

    .preview__info {
        width: 100%;
    }

    .into__font {
        text-align: center;
    }

}

@media (max-width: 470px) {
    .container {
        max-width: 340px;
    }

    .title {
        font-size: 34px;
    }

    .news__title:after {
        height: 35px;
        top: 9px;
    }

    .partners__header:before {
        left: 76px;
        top: 15px;
    }

    .preview__title {
        font-size: 52px;
    }

    .btn__burger-menu:before {
        top: 42px;
    }

    .btn__burger-menu:after {
        top: 69px;
    }

    .info__text {
        gap: 10px;
    }
}
